<div class="container">
  <form onsubmit="" dir="rtl">
    <div class="form-title">
      <p>برنامه</p>
    </div>
    <mat-form-field class="input" appearance="outline">
      <mat-label> {{ inputName }} </mat-label>
      <input [type]="getInputType()" matInput [formControl]="inputControl" />
      <button
        *ngIf="inputType == 'password'"
        mat-icon-button
        matSuffix
        (click)="hideInputValue = !hideInputValue"
      >
        <mat-icon>
          {{ hideInputValue ? "visibility" : "visibility_off" }}
        </mat-icon>
      </button>
      <!-- <mat-error>hello</mat-error> -->
    </mat-form-field>
    <div class="link" *ngIf="linkText && linkHref">
      <a href="{{ linkHref }}" mat-button>{{ linkText }}</a>
    </div>
    <button mat-stroked-button class="button">ادامه</button>
  </form>
</div>
