.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 547px auto;
  grid-template-rows: auto 80% auto;
}
.container > form {
  grid-column: 2;
  grid-row: 2;
  min-height: 700px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100px;
}
.form-title {
  margin-top: 12%;
  display: block;
  width: 100%;
  text-align: center;
}
.form-title > p {
  font-size: 120px;
  font-family: narenj;
}
.input {
  margin-top: 12%;
  height: 60px;
  width: 339px;
  font-size: 1.2em;
}
.link {
  margin-top: 10%;
  display: block;
  width: 100%;
  text-align: center;
}
.link > a {
  font-size: 1.3em;
}
form > .button {
  margin-top: 25%;
  font-size: 31px;
  width: 209px;
  height: 48px;
}
