<div class="container" [ngClass]="menuVisibility">
  <ng-scrollbar dir="rtl" class="scrollbar">
    <div class="add-filter-form">
      <form class="filter-form" dir="rtl" [formGroup]="formGroup">
        <mat-form-field>
          <mat-label formControlName="id"> شماره مرجع </mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> شماره حساب مبدا </mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> شماره حساب مقصد </mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> حداقل مقدار تراکنش </mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> حداکثر مقدار تراکنش </mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> از تاریخ </mat-label>
          <input type="datetime-local" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label formControlName="id"> تا تاریخ </mat-label>
          <input type="datetime-local" matInput />
        </mat-form-field>
        <div class="button-container">
          <button mat-flat-button type="submit">اضافه کردن فیلتر</button>
        </div>
      </form>
    </div>
    <mat-divider class="divider"></mat-divider>
    <app-filters-list class="filters-list"></app-filters-list>
  </ng-scrollbar>
  <button class="ope" (click)="toggleMenuVisibilaty()">
    <p *ngIf="menuVisibility !== 'container-show'; else closeMenu">
      منوی فیلترها
    </p>
    <ng-template #closeMenu>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </ng-template>
  </button>
</div>
