<ng-scrollbar class="scrollbar">
  <div class="container">
    <a href="#" class="navigation-link">
      <p *ngIf="menuIsExpanded">افزودن تراکنش</p>
      <mat-icon>add_box</mat-icon>
    </a>
    <a href="#" class="navigation-link">
      <p *ngIf="menuIsExpanded">نمایش گرافی</p>
      <mat-icon>device_hub</mat-icon>
    </a>
    <a href="#" class="navigation-link">
      <p *ngIf="menuIsExpanded">نمایش جدولی</p>
      <mat-icon>table_view</mat-icon>
    </a>
    <div class="navigation-link">
      <p *ngIf="menuIsExpanded"></p>
      <mat-icon></mat-icon>
    </div>
    <button
      (click)="someFunctionName()"
      class="navigation-link menu-toggle-button"
    >
      <p *ngIf="menuIsExpanded">گسترش منو</p>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</ng-scrollbar>
