.container {
  min-height: 100vh;
  border-left: 1px solid black;
  display: grid;
  grid-template-rows: 60px 60px 60px auto 60px;
}
.expanded {
  width: 250px;
}
.minimized {
  width: 61px;
}
.scrollbar {
  --scrollbar-size: 0;
}
.navigation-link {
  width: 100%;
  display: flex;
  padding: 0;
  text-align: center;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
  border: none;
  background-color: white;
  color: black;
}
.navigation-link > p {
  display: block;
  width: inherit;
  border-right: 1px solid black;
  line-height: 60px;
}
.navigation-link > mat-icon {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
}
.menu-toggle-button {
  grid-row: 5;
}
