.container {
  // display: grid;
  // grid-template-columns: 30px auto 61px;
  width: 100%;
  min-height: 100vh;
}
// .expanded-right-menu {
//   grid-template-columns: 30px auto 250px;
// }
// .content {
//   grid-column: 2;
// }
// .navigation-menu {
//   position: sticky;
//   height: 100vh;
//   grid-column: 3;
//   top: 0;
// }
.filter-menu {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
}
