.container {
  padding: 5px;
  height: 50vh;
}
.sb {
  --scrollbar-size: 0;
}
.filter-card {
  direction: ltr;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 5px;
}
.filter-card > .remove-button {
  position: absolute;
  right: 0px;
  top: 0px;
}
.filter > .filter-type {
  font-weight: bold;
  color: rgb(49, 48, 48);
}
.filter > .filter-value {
  padding-left: 5px;
}
